<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>User Spend Manager</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/md-data-table.min.css">
</head>
<body ng-app="spendManager">
<md-content>
	<div id="mainDiv" ng-controller="spendCtrl" ng-init="fetchAllSpends()">
		<div id="gridDiv">
		<h1 align="center">User Spend Manager</h1>
		<h3> User Max Budget :: {{maxBudget}}</h2>
		<h3> Total Amount Spent :: {{totalAmountSpent}}</h2>
		<md-data-table-container>
		<table md-data-table ng-model="selected" md-progress="promise">
			<thead md-head >
				<tr md-row>
					<th md-column >Expense Amount</th>
					<th md-column >Expense Date</th>
					<th md-column >Expense Type </th>
				</tr>
			</thead>
			<tbody md-body>
				<tr md-row md-auto-select ng-repeat="x in userExpenses">
					<td md-cell>{{ x.expenseAmount + " INR"}}</td>
					<td md-cell>{{x.expenseDate | date:'yyyy-MM-dd' }}</td>
					<td md-cell>{{x.expenseType}}</td>
				</tr>
			</tbody>
		</table>
		</md-data-table-container></div><br><br>
		<div id="chartDiv">
		Start Date :: <md-datepicker ng-model="startDate""></md-datepicker>
		End Date :: <md-datepicker ng-model="endDate"></md-datepicker>
		Spend Type :: <select ng-model="expendType1" ng-options="x for x in AllTypes"></select>
		<md-button class="md-raised md-primary" ng-click="filterSpends()" ng-disabled="startDate == undefined || endDate == undefined || expendType1== undefined" style="float: right;margin-right:400px;;margin-top:-35px">Filter Chart</md-button>
		<div ng-show="userExpenses !=undefined" style="width:600px;height:300px" align="center">
			<canvas id="expenseChart"></canvas>
		</div></div>
		<md-button class="md-raised md-primary" ng-click="fetchPDF()" style="float: right;margin-right:400px">Download PDF</md-button>
		<md-button class="md-raised md-primary" ng-click="showAlert(maxBudget,totalAmountSpent)" style="float: right;margin-right:200px">Add Spend</md-button>
	</div></md-content>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script src="/md-data-table.min.js"></script>
    <script src="/spendController.js"></script>
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</body>
</html>

